.header{
  display: flex;
  justify-content:space-between;
  padding: 15px;
  background-image: url('./background.png');
  background-size: cover;
}

.driver{
  display: flex;
  margin: 0 0 10px 10px;
}

.driver_label{
  font-size: 21px;
  margin-right: 7px;
}

.modal_dropdown{
  display: flex;
  margin-bottom: 10px;
}

.modal_dropdown-label{
  margin:0 10px 10px 0;;
}

.modal_button{
  margin-bottom: 10px;
}

.header_options{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

h2{
  color: white;
  font-size: 48px;
  text-shadow: 2px 2px 4px #051d49;
  font-family: Avenir;
  font-style: italic;
}

.driver_label2{
  margin-left: 15px;
}

